.main {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

header {
  margin-bottom: 3em;
}

.dropzone {
  border: 2px dashed black;
  margin: 0 auto;
  padding: 4em;
  width: 70%;
}
  .dz-message {
    font-size: 1.25em;
  }

.progress {
  display: none;
  padding: 1em;
}

  .progressImage {
    margin-left: 1em;
    height: 20px;
    width: 20px;
    vertical-align: -4px;
  }
  
.outputImage {
  margin-top: 2em;
  max-width: 100%;
}

#reloadPage {
  display: none;
  padding: 1em;
}
